:root {
  --title-color: #e280ae;
  --title-text: #ffffff;

  --main-color: #e280ae;
  --main-dark-color: #cc6699;
  --white-text: #ffffff;
  --disabled-color: #808080;

  --switch-able-color: #e280ae;
  --switch-disable-color: #b1b1b1;
  --switch-ball-color: #fff;

  --light-text: #808080;
  --bold-text: #303030;
  --icon-color: #404040;

  --border-color: #d0d0d0;

  --left-panel-color: #f0f0f0;
  --left-panel-active-color: #e0e0e0;
  --left-panel-hover-color: #d8d8d8;

  --section-color: #fafafa;
  --info-card-color: #ffffff;
  --bottom-panel-color: #fff;

  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --animation-time: 100ms;

  --ping-red: #dd3333;
  --ping-orange: #ff8800;
  --ping-green: #33dd33;
  --ping-offline: #888888;

  --mac-close-btn: #ff4444;
  --mac-close-btn-border: #dd3333;

  --mac-close-btn-hover: #ff4444;
  --mac-close-btn-hover-border: #dd3333;

  --main-height: 628px;
}
