$material-design-icons-font-directory-path: '../material/fonts/';
$fonts-directory-path: '../fonts/';
$iconfont-directory-path: '../iconfont/';

@import 'color';
@import 'default';
@import 'darwin';
@import 'widgets/titlebar';
@import 'widgets/main_context';
@import 'widgets/update_card';

@import '../fonts/fonts';
@import '../iconfont/iconfont';
@import '../material/material-design-icons';
