cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

install:
  - ps: Install-Product node 18
  - yarn
  - node --version

artifacts:
  - name: zips
    path: build\*.zip
  - name: releases
    path: build\*.exe

build_script:
  - yarn dist
