@function material-icons-content($codepoint) {
  @return unquote('"\\#{$codepoint}"');
}

@function normalize-class-name($class-name) {
  $class-name-first-char: str-slice($class-name, 0, 1);

  // if the first character is a number, then we need to prefix it with something (since this is invalid class name)
  @if str-index('1234567890', $class-name-first-char) {
    $class-name: '_' + $class-name;
  }

  @return $class-name;
}

@mixin material-icon($name, $pseudo: 'before') {
  $codepoint: map-get($material-icons-codepoints, $name);

  &:#{$pseudo} {
    content: material-icons-content($codepoint);
  }
}
