@charset "UTF-8";
:root {
  --title-color: #e280ae;
  --title-text: #ffffff;
  --main-color: #e280ae;
  --main-dark-color: #cc6699;
  --white-text: #ffffff;
  --disabled-color: #808080;
  --switch-able-color: #e280ae;
  --switch-disable-color: #b1b1b1;
  --switch-ball-color: #fff;
  --light-text: #808080;
  --bold-text: #303030;
  --icon-color: #404040;
  --border-color: #d0d0d0;
  --left-panel-color: #f0f0f0;
  --left-panel-active-color: #e0e0e0;
  --left-panel-hover-color: #d8d8d8;
  --section-color: #fafafa;
  --info-card-color: #ffffff;
  --bottom-panel-color: #fff;
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --animation-time: 100ms;
  --ping-red: #dd3333;
  --ping-orange: #ff8800;
  --ping-green: #33dd33;
  --ping-offline: #888888;
  --mac-close-btn: #ff4444;
  --mac-close-btn-border: #dd3333;
  --mac-close-btn-hover: #ff4444;
  --mac-close-btn-hover-border: #dd3333;
  --main-height: 628px; }

.darwin {
  --main-height: 634px;
  --left-panel-color: transparent;
  --left-panel-active-color: #00000011;
  --left-panel-hover-color: #FFFFFF30; }
  .darwin h1 {
    height: 22px;
    line-height: 22px;
    font-size: 12px; }

.blur {
  --title-color: #fddaea;
  --title-text: #808080;
  --mac-close-btn: #c0c0c0;
  --mac-close-btn-border: #a0a0a0; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"); }

@font-face {
  font-family: '思源黑体 CN';
  src: url("SourceHanSansCN-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: '思源黑体 CN';
  src: url("SourceHanSansCN-Normal.otf") format("opentype");
  font-weight: 400; }

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  user-select: none;
  font-family: '思源黑体 CN', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  zoom: 1; }
  *::-webkit-scrollbar {
    width: 8px; }
  *::-webkit-scrollbar-button {
    height: 0;
    display: none;
    background-color: transparent; }
  *::-webkit-scrollbar-track-piece {
    background-color: transparent;
    padding-right: 8px; }
  *::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    min-height: 64px;
    max-height: 128px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color var(--animation-time) var(--ease-in-out); }
  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1); }
  *:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0; }
  *:hover::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0; }

button {
  outline: none !important;
  cursor: pointer; }

body {
  width: 1280px;
  height: 720px;
  overflow: hidden; }

h1 {
  display: block;
  width: 1280px;
  height: 28px;
  text-align: center;
  color: var(--title-text);
  background-color: var(--title-color);
  font-size: 14px;
  line-height: 28px;
  -webkit-app-region: drag; }

.close-btn::before {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 28px;
  width: 48px;
  content: '×';
  color: var(--title-text);
  font-weight: 300;
  background-color: #f000;
  transition: color var(--animation-time) var(--ease-in-out);
  transition: background-color var(--animation-time) var(--ease-in-out);
  -webkit-app-region: no-drag;
  text-align: center;
  line-height: 28px; }

.close-btn:hover::before {
  background-color: #ff1122;
  color: var(--white-text); }

.close-btn.darwin::before {
  cursor: pointer;
  right: auto;
  left: 10px;
  top: 8px;
  height: 12px;
  width: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--mac-close-btn);
  border-radius: 50%;
  border: 1px solid var(--mac-close-btn-border);
  color: #8110;
  transition: color var(--animation-time) var(--ease-in-out);
  line-height: 12px; }

.close-btn.darwin:hover::before {
  color: #811f;
  background-color: var(--mac-close-btn-hover);
  border: 1px solid var(--mac-close-btn-hover-border); }

.main-context > * {
  float: left; }

.main-context > section {
  display: none;
  height: var(--main-height);
  width: calc(1280px - 241px);
  background-color: var(--section-color);
  position: relative; }
  .main-context > section.show {
    display: block; }
  .main-context > section > .big-btn {
    font-style: normal;
    position: absolute;
    top: 8px;
    background-color: transparent;
    border: 0;
    color: var(--light-text); }
    .main-context > section > .big-btn:hover {
      color: var(--bold-text); }
    .main-context > section > .big-btn::before {
      font-family: 'iconfont' !important;
      font-size: 24px; }
  .main-context > section > .refresh-btn {
    left: 102px; }
    .main-context > section > .refresh-btn::before {
      content: ''; }
  .main-context > section > .install-btn {
    right: 140px; }
    .main-context > section > .install-btn::before {
      content: ''; }
  .main-context > section > .edit-btn {
    right: 100px; }
    .main-context > section > .edit-btn::before {
      content: ''; }
  .main-context > section > div.info-cards {
    color: var(--light-text);
    width: calc(100% - 16px);
    height: calc(100% - 40px - 20px);
    position: absolute;
    top: 40px;
    overflow-y: auto;
    padding-left: 102px; }
    .main-context > section > div.info-cards > article {
      width: 400px;
      height: 144px;
      font-size: 14px;
      position: relative;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
      transition: box-shadow var(--animation-time) var(--ease-in-out);
      background-color: var(--info-card-color);
      float: left;
      margin-top: 8px;
      margin-bottom: 16px;
      margin-right: 36px; }
      .main-context > section > div.info-cards > article:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
      .main-context > section > div.info-cards > article > * {
        float: left;
        cursor: default;
        word-wrap: break-word; }
      .main-context > section > div.info-cards > article > img {
        width: 144px;
        height: 144px; }
      .main-context > section > div.info-cards > article > h3 {
        padding-top: 16px;
        padding-left: 20px;
        color: var(--bold-text);
        font-size: 14px;
        line-height: 14px;
        max-width: calc(100% - 20px - 144px); }
      .main-context > section > div.info-cards > article > p {
        padding-left: 20px;
        padding-top: 6px;
        padding-right: 20px;
        width: var(--bold-text);
        width: calc(400px - 144px);
        line-height: 18px; }
      .main-context > section > div.info-cards > article > address {
        font-style: normal;
        padding-left: 20px;
        position: absolute;
        bottom: 14px;
        left: 144px; }
        .main-context > section > div.info-cards > article > address::before {
          font-family: 'iconfont' !important;
          font-size: 14px;
          content: '';
          padding-right: 4px; }
      .main-context > section > div.info-cards > article > input {
        display: none; }
      .main-context > section > div.info-cards > article > input[type='checkbox'] + label {
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 12px;
        /* opacity: 0; */
        position: absolute;
        bottom: 16px;
        right: 20px;
        cursor: pointer;
        outline: none !important; }
        .main-context > section > div.info-cards > article > input[type='checkbox'] + label::before {
          content: ' ';
          display: block;
          width: 32px;
          height: 16px;
          border-radius: 8px;
          position: relative;
          right: 32px;
          bottom: 16px;
          background-color: var(--switch-disable-color);
          transition: background-color var(--animation-time) var(--ease-in-out); }
        .main-context > section > div.info-cards > article > input[type='checkbox'] + label::after {
          content: ' ';
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 6px;
          position: relative;
          left: calc(-32px + 2px);
          bottom: calc(12px + 2px + 16px);
          background-color: var(--switch-ball-color);
          transition: left var(--animation-time) var(--ease-in-out); }
      .main-context > section > div.info-cards > article > input[type='checkbox']:checked + label::before {
        background-color: var(--switch-able-color); }
      .main-context > section > div.info-cards > article > input[type='checkbox']:checked + label::after {
        left: calc(-12px - 2px); }
      .main-context > section > div.info-cards > article > input[type='button'] + label {
        font-style: normal;
        position: absolute;
        bottom: 12px;
        right: 18px;
        background-color: transparent;
        border: 0;
        color: var(--light-text);
        cursor: pointer; }
        .main-context > section > div.info-cards > article > input[type='button'] + label:hover {
          color: var(--bold-text); }
        .main-context > section > div.info-cards > article > input[type='button'] + label::before {
          font-family: 'iconfont' !important;
          font-size: 16px;
          content: ''; }
      .main-context > section > div.info-cards > article > .remove-btn,
      .main-context > section > div.info-cards > article > .export-btn {
        font-style: normal;
        position: absolute;
        bottom: 14px;
        right: 38px;
        background-color: transparent;
        border: 0;
        color: var(--light-text);
        display: none;
        cursor: pointer; }
        .main-context > section > div.info-cards > article > .remove-btn:hover,
        .main-context > section > div.info-cards > article > .export-btn:hover {
          color: var(--bold-text); }
        .main-context > section > div.info-cards > article > .remove-btn::before,
        .main-context > section > div.info-cards > article > .export-btn::before {
          font-family: 'iconfont' !important;
          font-size: 14px;
          content: ''; }
      .main-context > section > div.info-cards > article > .export-btn {
        right: 18px; }
        .main-context > section > div.info-cards > article > .export-btn::before {
          content: ''; }
      .main-context > section > div.info-cards > article.edit > .remove-btn,
      .main-context > section > div.info-cards > article.edit > .export-btn {
        display: block; }
      .main-context > section > div.info-cards > article.edit > input + label {
        display: none; }
  .main-context > section[data-name='settingPage'] {
    padding: 40px 0 20px 102px; }
    .main-context > section[data-name='settingPage'] > .save-btn {
      left: 102px; }
      .main-context > section[data-name='settingPage'] > .save-btn::before {
        content: ''; }
    .main-context > section[data-name='settingPage'] > .setting-innner {
      height: 100%;
      width: calc(100% - 16px);
      overflow-y: auto; }
      .main-context > section[data-name='settingPage'] > .setting-innner > h3 {
        cursor: default;
        font-size: 18px;
        padding-top: 8px;
        line-height: 22px;
        color: var(--bold-text); }
      .main-context > section[data-name='settingPage'] > .setting-innner > p {
        height: 20px;
        margin-top: 4px;
        cursor: default;
        width: max-content;
        line-height: 20px;
        font-size: 14px;
        padding-left: 16px;
        color: var(--light-text); }
      .main-context > section[data-name='settingPage'] > .setting-innner > input {
        outline: none !important; }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='number'] {
        height: 20px;
        margin-top: 4px;
        margin-left: 2px;
        line-height: 20px;
        font-size: 14px;
        width: 36px; }
        .main-context > section[data-name='settingPage'] > .setting-innner > input[type='number']::-webkit-outer-spin-button, .main-context > section[data-name='settingPage'] > .setting-innner > input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none !important;
          margin: 0; }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox'] {
        display: none; }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='number'] + label {
        width: max-content;
        height: 20px;
        margin-top: 4px;
        line-height: 20px;
        font-size: 14px;
        cursor: pointer;
        outline: none !important;
        padding-left: 10px;
        color: var(--light-text); }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox'] + label {
        width: max-content;
        height: 20px;
        margin-top: 4px;
        line-height: 20px;
        font-size: 14px;
        cursor: pointer;
        outline: none !important;
        display: block;
        padding-left: 16px;
        color: var(--light-text); }
        .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox'] + label::before {
          content: ' ';
          display: inline-block;
          width: 32px;
          height: 16px;
          border-radius: 8px;
          position: relative;
          top: 3px;
          right: 12px;
          background-color: var(--switch-disable-color);
          transition: background-color var(--animation-time) var(--ease-in-out); }
        .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox'] + label::after {
          content: ' ';
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 6px;
          position: relative;
          left: -10px;
          bottom: 16px;
          background-color: var(--switch-ball-color);
          transition: left var(--animation-time) var(--ease-in-out); }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox']:checked + label::before {
        background-color: var(--switch-able-color); }
      .main-context > section[data-name='settingPage'] > .setting-innner > input[type='checkbox']:checked + label::after {
        left: calc(-12px - 2px + 20px); }
  .main-context > section[data-name='aboutPage'] {
    padding: 40px 0 20px 102px; }
    .main-context > section[data-name='aboutPage'] > .about-innner {
      height: 100%;
      width: calc(100% - 80px);
      overflow-y: auto; }
      .main-context > section[data-name='aboutPage'] > .about-innner > h3 {
        cursor: default;
        font-size: 18px;
        padding-top: 8px;
        line-height: 22px;
        color: var(--bold-text); }
      .main-context > section[data-name='aboutPage'] > .about-innner > p {
        margin-top: 4px;
        padding-bottom: 4px;
        cursor: default;
        line-height: 20px;
        font-size: 14px;
        padding-left: 16px;
        color: var(--light-text); }

.main-context > .left-panel {
  height: var(--main-height);
  width: calc(240px + 1px);
  border-right: 1px solid var(--border-color);
  background-color: var(--left-panel-color); }
  .main-context > .left-panel > ul {
    cursor: pointer;
    width: 100%; }
    .main-context > .left-panel > ul > li {
      display: block;
      width: 100%;
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      color: var(--bold-text);
      padding-left: 48px;
      transition: background-color var(--animation-time) var(--ease-in-out); }
      .main-context > .left-panel > ul > li.active {
        background-color: var(--left-panel-active-color); }
      .main-context > .left-panel > ul > li:hover {
        background-color: var(--left-panel-hover-color); }
      .main-context > .left-panel > ul > li::before {
        font-family: 'iconfont' !important;
        position: absolute;
        left: 0;
        width: 48px;
        height: 48px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: var(--icon-color); }
      .main-context > .left-panel > ul > li[data-target='modPage']::before {
        content: ''; }
      .main-context > .left-panel > ul > li[data-target='executePage']::before {
        content: '';
        font-size: 16px; }
      .main-context > .left-panel > ul > li[data-target='toolPage']::before {
        content: '';
        font-size: 18px; }
      .main-context > .left-panel > ul > li[data-target='settingPage']::before {
        content: '';
        font-size: 18px; }
      .main-context > .left-panel > ul > li[data-target='aboutPage']::before {
        content: ''; }

.main-context > .bottom-panel {
  height: calc(64px + 1px);
  width: 100%;
  position: relative;
  background-color: var(--bottom-panel-color);
  border-top: 1px solid var(--border-color);
  margin: 0 auto; }
  .main-context > .bottom-panel > .launch-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 48px;
    height: 64px;
    line-height: 64px;
    background-color: var(--main-color);
    color: var(--white-text);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    transition: background-color var(--animation-time) var(--ease-in-out); }
    .main-context > .bottom-panel > .launch-btn:hover {
      background-color: var(--main-dark-color); }
    .main-context > .bottom-panel > .launch-btn:disabled {
      cursor: not-allowed;
      background-color: var(--disabled-color); }
  .main-context > .bottom-panel > #pingInfo {
    cursor: default;
    font-size: 14px;
    position: absolute;
    line-height: 14px;
    top: 34px;
    left: 42px;
    color: var(--light-text); }
    .main-context > .bottom-panel > #pingInfo::before {
      display: block;
      position: absolute;
      border-radius: 50%;
      content: ' ';
      width: 10px;
      height: 10px;
      left: -24px;
      top: -8px; }
    .main-context > .bottom-panel > #pingInfo.offline::before {
      background-color: var(--ping-offline); }
    .main-context > .bottom-panel > #pingInfo.red::before {
      background-color: var(--ping-red); }
    .main-context > .bottom-panel > #pingInfo.green::before {
      background-color: var(--ping-green); }
    .main-context > .bottom-panel > #pingInfo.orange::before {
      background-color: var(--ping-orange); }
  .main-context > .bottom-panel > #serverInfo {
    font-size: 14px;
    position: absolute;
    line-height: 14px;
    top: 16px;
    left: 42px;
    color: var(--light-text);
    cursor: pointer; }

.update-card {
  display: none;
  padding: 16px 20px;
  position: fixed;
  left: 0;
  bottom: calc(64px);
  height: calc(144px + 2px);
  width: calc(256px + 2px);
  background-color: var(--info-card-color);
  border: 1px solid var(--border-color);
  user-select: none; }

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
  .update-card > h3 {
    color: var(--bold-text);
    font-size: 14px;
    line-height: 14px;
    max-width: 100%;
    margin-bottom: 8px;
    cursor: default; }
  .update-card > p {
    font-size: 14px;
    line-height: 18px;
    color: var(--light-text);
    margin-bottom: 8px;
    cursor: default; }
  .update-card > button {
    font-size: 12px;
    font-weight: 400; }
    .update-card > button.hide {
      display: none; }
    .update-card > button.updateCard_close {
      position: absolute;
      top: 100px;
      left: 24px;
      color: var(--light-text);
      border: none;
      text-underline-position: under;
      background-color: transparent;
      text-decoration: underline;
      transition: color var(--animation-time) var(--ease-in-out); }
      .update-card > button.updateCard_close:hover {
        color: var(--bold-text); }
    .update-card > button.updateCard_view {
      position: absolute;
      top: 100px;
      right: 24px;
      border: none;
      color: var(--white-text);
      background-color: var(--main-color);
      transition: background-color var(--animation-time) var(--ease-in-out);
      padding: 4px 12px;
      float: right; }
      .update-card > button.updateCard_view:hover {
        background-color: var(--main-dark-color); }
      .update-card > button.updateCard_view:disabled {
        background-color: var(--disabled-color);
        cursor: not-allowed; }
  .update-card.show {
    display: block;
    animation: fadeInFromNone var(--animation-time) var(--ease-in-out); }
