:root {
  --title-color: #3c3c3c;
  --title-text: #c8c8c8;

  --main-color: #4c4c4c;
  --main-dark-color: #3c3c3c;
  --white-text: #ffffff;
  --disabled-color: #808080;

  --switch-able-color: #3676de;
  --switch-disable-color: #999999;
  --switch-ball-color: #fff;

  --light-text: #adadad;
  --bold-text: #c0c0c0;
  --icon-color: #adadad;

  --border-color: #404040;

  --left-panel-color: #252525;
  --left-panel-active-color: #2d2d2d;
  --left-panel-hover-color: #2f2f2f;

  --section-color: #1e1e1e;
  --info-card-color: #3c3c3c;
  --bottom-panel-color: #1e1e1e;
}
.blur {
  --title-color: #333333;
  --title-text: #808080;
}
