:root {
  --title-color: #f10000;
  --main-color: #f10000;
  --main-dark-color: #a51a1a;
  --switch-able-color: #f10000;
}

.blur {
  --title-color: #fddada;
}

.main-context > section {
  background-image: url(./background.jpg);
  background-size: 100% 100%;
}
